.moviesBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.pageBtn{
    height: 100%;
    min-width: 40px;
    
}
.orSeparator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.line{
    background-color: #ffc00a;
    height: 1px;
    flex-grow: 1;
    width: 20px;
    margin: 0 5px;
}
.orText{
    color: #ffc00a;
}
.searchBar{
    border: none;
    border-bottom: 1px solid #ffc00a ;
    background-color: rgb(21, 21, 21);
    width: 40%;
    color: white;
    height: 30px;
    margin-bottom: 0px;
    min-width: 40%;
    padding-left: 5px;
}
.searchBar:focus{
    border: #ffc00a solid 1px;
    border-radius: 3px;
    outline: none;
}

.pageSearch{
    display: flex;
    width: 25%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.goBtn{
    text-wrap: nowrap;
    margin-left: 10px;
    height: 100%;
    width: 80px;
}
.totalPages{
    display: flex;
    justify-content: center;
    color: #ffc00a;
}
.totalPageNum{
    color: white;
    margin-left: 10px;
}